/* root */ 
:root
 {
  --main: #fff;
  --second: #bfbfbf;
  --font: #1a1a1a;
  --fontLighter: #333333;
  --accent:  #8080ff;
  --accentDark: #4d4dff;
  --accentLight: #b3b3ff;
}

body {
  background: url(https://i.servimg.com/u/f43/19/81/66/84/hinter10.jpg), var(--second);
  background-attachment: fixed;
  background-size: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}