/* root */ 
:root
 {
  --main_light: #fff;
  --main_dark: #000;
  --font_light: #262626;
  --font_dark: #e9e9e9;
  --accent:  #4527a0;
  --accentDark: #301b70;
  --accentLight: #6a52b3;
}

body {
  background-color: var(--main_dark);
  font-family: 'Courier New', Courier, monospace;
}

#background {
  background-color: var(--accentDark);
  opacity: 0.2;
  size: 100%;
}

#footer {
  position: fixed;
  bottom: 0;
  border-top: 1px sollid var(--accentDark);
}