/* root */ 
:root
 {
  --main_light: #ededf7;
  --main_dark: #080812;
  --font_light: #080812;
  --font_dark: #ededf7;
  --accent:  #504db3;
  --accentDark: #201f47;
  --accentLight: #b9b8e0;
}

body {
  background-color: var(--main_dark);
  font-family: 'Trebuchet MS', 'Roboto', 'Courier New', Courier, monospace;
  margin: 0;
  color: var(--font_dark);
  font-size: 14px;
}

#info {
  width: fit-content;
  margin: 25% auto;
  font-size: 5em;
}

#footer {
  position: fixed;
  bottom: 0;
  border-top: 1px solid var(--accentDark);
  width: 100%;
  height: fit-content;
  padding: 10px;
  background-image: url("caetto/src/assets/logo_white_vector.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}