/* root */ 
:root
 {
  --main_light: #e8e8f5;
  --main_dark: #181736;
  --font_light: #262626;
  --font_dark: #e9e9e9;
  --accent:  #615EBA;
  --accentDark: #3b2f98;
  --accentLight: #c6c5e7;
}

body {
  background-color: var(--main_dark);
  font-family: 'Trebuchet MS', 'Roboto', 'Courier New', Courier, monospace;
  margin: 0;
  color: var(--font_dark);
  font-size: 14px;
}

#info {
  margin: auto;
  font-size: 5em;
}

#footer {
  position: fixed;
  bottom: 0;
  border-top: 1px solid var(--accentDark);
  width: 100%;
  margin: 10px;
}