/* global */
th, td, p {
    font-family: 'Comic Sans Ms';
}

body {
  background: url('https://i.servimg.com/u/f10/14/87/78/63/road-111.jpg'), #ff7c0a;
  background-attachment: fixed;
  background-size: auto;
}

hr {
 height: 0;
 border: solid #ff8b26 0;
 border-top-width: 1px;
}

hr, #chatbox>p, div.separator {
  border-top: 1px solid #ff8b26;
}

input, #submit_button {
  background-color: #fdff70!important;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid black!important;
}

.label span, dt span {
 color: #c70000!important; 
}

select, .sceditor-container, div.sceditor-toolbar, textarea, dd.quote, div.spoiler_content {
  background-color: #fdff70!important;
  border-radius: 5px;
}

.codebox dd {
    margin: 0;
    border: solid 1px #ff8b26;
}

/* titles */
h1, .cattitle {
 display: inline; 
  color: #c70000;
  font-weight: bold;
}

h2 {
  display: inline; 
  margin: 2px;
}

h3 {
  color: #c70000;
  margin: 0px;
}

/* links */
a, .forumlink a, a.forumlink:link, a.topictitle, a.forumlink, #fa_toolbar a, a:visited {
  color: #c70000;
  text-decoration: none;
  text-shadow: 0 0 0;
}

a:hover, .forumlink a:hover {
 text-shadow: 0 0 8px #000000; 
}

.no-reduct {
  color: #c70000;
}

/* Startseite */
.bodylinewidth {
  box-shadow: 0px 0px 10px #000000;
  /*background: linear-gradient(to bottom, black 50%, #ff7c0a);*/
  background: #000000;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 0px 10px #000000;
}

/* Bilder */
#i_logo {
 content: url("https://2img.net/s/t/21/46/02/i_logo.jpg"); 
  width: 100%;
} 

#i_icon_mini_faq {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/faq-me11.png');
}

#i_icon_mini_search {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/suche-11.png');
}

#i_icon_mini_members {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/mitgli14.png');
}

#i_icon_mini_groups {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/gruppe14.png');
}

#i_icon_mini_profile {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/profil16.png');
}

#i_icon_mini_message {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/botsch11.png');
}

#i_icon_mini_new_message {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/i_icon11.gif');
}

#i_icon_mini_logout {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/logout15.png');
}

#i_icon_mini_login {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/login-11.png');
}

#i_icon_mini_register {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/regist15.png');
}

#i_whosonline {
 content: url("https://2img.net/s/t/21/55/71/i_whosonline.gif"); 
}

a.mainmenu img {
 width: 13%;
}

/* Kategorie */
table.forumline {
  margin-bottom: 5px;
  border: none;
  border-collapse: separate;
  background-color: transparent;
}

.forumline th, #grouptitle, .catHead, td.catLeft {
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px;
  background-color: #fcff6f;
  height: 25px;
  padding: 2px;
  color: #c70000;
  text-align: center;
}

td.row1, td.row3, td.row2, td.row1 over, td.spaceRow {
  background-color: #ff7c0a;
  padding: 2px 3px;
}

td.row3.over, td.row3Right {
  padding: 2px 3px;
  vertical-align: middle;
  text-align: center;
  background-color: #ff8b26;
}

td.row3.over:hover {
  background-color: #ff7c0a;
}

/* Beiträge */

div.signature_div {
  border-top: 1px solid #fdff70;
  margin-top: 20px;
}

/* bottom */
td.catBottom {
  background-color: black;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px;
  border: 1px solid #e3924b;
  border-width: 0 1px 1px;
  height: 28px;
  color: #c70000;
}

/* profile messages */
#profile-advanced-details .message-header {
    border-top: 1px solid #ff8b26;
    padding: 4px;
    margin-bottom: 4px;
}

/* Gruppenlegende */
.groups {
 text-align: center;
  font-size: 18px;
  margin: 20px 0px;
  color: #c70000;
  font-weight: bold;
}

.grouptitle {
 display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  background-color: #fcff6f;
  border-radius: 5px 5px 5px 5px;
  height: 30px;
}

/* toolbar */

#fa_toolbar {
 background-color: #ff7c0a;
 color: black;
 fontfamily: 'Comic Sans MS';   
}
