/* global */
th, td, p {
    font-family: 'Pangolin', sans-serif;
    color: #999999;
}

body {
  background: url('https://i43.servimg.com/u/f43/19/81/66/84/schatt10.jpg'), #000000;
  background-attachment: fixed;
  background-size: 100%;
}

hr {
 height: 0;
 border: solid #1d1f34 0;
 border-top-width: 1px;
}

.forumline tr {
 border-bottom: 1px solid black; 
}

hr, #chatbox>p, div.separator {
  border-top: 1px solid #1d1f34;
}

input, #submit_button {
  background-color: #1d1f34!important;
  font-weight: 700;
  border: 1px solid black!important;
  border-radius: 0;
}

.label span, dt span {
 color: #CCCCCC!important; 
}

select, .sceditor-container, div.sceditor-toolbar, textarea, dd.quote, div.spoiler_content {
  background-color: rgba(29, 31, 52, 0.2)!important;
}

textarea {
 color: #999999   
}

div.nav {
 margin: 10px 0; 
}

.codebox dd {
    margin: 0;
    border: solid 1px #1d1f34;
}

#wahl {
 margin-top: 50px;
}

/* titles */
h1, .cattitle {
 display: inline; 
  color: #1d1f34;
  font-weight: bold;
}

h2 {
  display: inline; 
  margin: 2px;
  color: #CCCCCC
}

h3 {
  color: #CCCCCC;
  margin: 0px;
}

.no-reduct {
  color: #CCCCCC;
}

.secondarytitle h2, th {
  font-size: 18px;
}

.secondarytitle h2, .groups th {
  background-image: radient-gradient(circle, #46526a, #cccccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;   
}

/* links */
a, .forumlink a, a.forumlink:link, a.topictitle, a.forumlink, #fa_toolbar a, #fa_toolbar a:visited {
  color: #46526a;
  text-decoration: none;
 text-shadow: none;
}

a:hover, .forumlink a:hover {
 text-shadow: 0 0 8px #FFFFFF; 
}

a.mainmenu img {
 height: 30px; 
  margin: 0 5px;
  width: auto;
}

/* Startseite */
.bodylinewidth {
  box-shadow: 0px 0px 10px #1d1f34;
  background: linear-gradient(to bottom, #1d1f34, #000000);
  -webkit-box-shadow: 0px 0px 10px #1d1f34;
}

/* Bilder */
#i_logo {
 content: url('https://i43.servimg.com/u/f43/19/81/66/84/header10.png'); 
  width: 100%;
} 

#i_icon_mini_faq {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/faq11.png');
}

#i_icon_mini_search {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/suche11.png');
}

#i_icon_mini_members {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/mitgli13.png');
}

#i_icon_mini_groups {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/gruppe13.png');
}

#i_icon_mini_profile {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/profil15.png');
}

#i_icon_mini_message {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/pn11.png');
}

#i_icon_mini_new_message {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/sprung10.gif');
}

#i_icon_mini_logout {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/logout14.png');
}

#i_icon_mini_login {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/login12.png');
}

#i_icon_mini_register {
  content: url('https://i.servimg.com/u/f43/19/81/66/84/anmeld13.png');
}

#i_whosonline {
 content: url("https://2img.net/s/t/21/55/71/i_whosonline.gif"); 
}

/* Kategorie */
table.forumline {
  margin-bottom: 5px;
  border: 3px groove #222222;
  border-collapse: collapse;
  background-color: transparent;
}

.forumline th, #grouptitle, .catHead, td.catLeft {
  background-color: black;
  height: 25px;
  padding: 2px;
  color: #1d1f34;
  text-align: center;
  border-radius: 0;
}

td.row1, td.row3, td.row2, td.row1 over, td.spaceRow {
  background-color: rgba(255, 255, 255, 0.07);
  padding: 2px 3px;
}

td.row3.over, td.row3Right {
  padding: 2px 3px;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}

td.row3.over:hover {
  background-color: rgba(255, 255, 255, 0.07);
}

/* Beiträge */
div.signature_div {
  border-top: 1px solid #1d1f34;
  margin-top: 20px;
}

/* bottom */
td.catBottom {
  background: none;
  height: 28px;
  border: none;
  color: black;
}

/* profile messages */
#profile-advanced-details .message-header {
    border-top: 1px solid #1d1f34;
    padding: 4px;
    margin-bottom: 4px;
}

/* Gruppenlegende */
.groups {
  color: #CCCCCC;
}

/* toolbar*/
#fa_toolbar, #fa_toolbar_hidden, .see_all {
  background-color: black;
  color: black;
  font-family: 'Arial';
}

#fa_menulist, #notif_list {
    background-color: #1d1f34;
}
