@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&family=Comic+Neue&family=Mali&family=PT+Mono&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&family=Yomogi&display=swap');

/* main object */
.bodylinewidth {
    width: 55%;
    text-align: center;
    padding: 0.75%;
    margin: auto;
    font-size: 14px;
    line-height: 18px;
}

/* section general */
.forumline {
    width: 100%;
}

/* header table */
  #headgen, #headrpg, #headkdc {
    flex-shrink: 0;
    width: 100%;
    margin-right: 0px;
    box-sizing: border-box;
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
  }
  
  #pre, #next {
    height: 100%!important;
    position: absolute;
    z-index: 2;
    width: 50px;
    border: none;
    cursor: pointer;
  }
  
  #pre h2, #next h2 {
    font-size: 50px; 
  }
  
  #pre {
    left: 0;
  }
  
  #next {
    right: 0;
  }
  
  #slider {
   display: flex;
   overflow-x: hidden;
   position: relative;
   scroll-behavior: smooth;
   scroll-snap-type: x mandatory;
  }

/* header table 2 */
#accordion {
  text-align: center;
}

#accordion li{
  list-style: none;
  float: left;
}

#accordion label {
  cursor: pointer;
  float: right;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 275px;
  padding: 0 5px;
}

#accordion label + input[type="radio"] {
  display: none;
}

#accordion .headcontent {
  max-width: 0;
  overflow: hidden;
  transition: max-width 0.5s;
  height: 271px;
  padding: 2px;
}

#accordion label + input[type="radio"]:checked + .headcontent {
  max-width: 700px;
}